<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb Clone</title>
</head>

<body>
    <h1>
        Listings 
    </h1>
    <div>
        <h2>Edit Listing</h2>
        <form method="POST" action="/listings/<%= listing._id%>?_method=PUT">
            Title :
            <input type="text" name="title" value=<%= listing.title%>>
            <br><br>
            <textarea name="description"><%= listing.description %></textarea>
            <br><br>
            Price :
            <input name="price" type="number" value=<%= listing.price %>>
            <br><br>
            Location :
            <input name="location" type="text" value=<%= listing.location %>>
            <br><br>
            Country : 
            <input type="text" name="country" value=<%= listing.country %>>
            <br><br>
            <button>Save</button>
        </form>   
    </div>
</body>

</html>