<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb Clone</title>
</head>

<body>
    <h1>
        Listing Info 
    </h1>
    <div class="listing_info">
        <h3> Title : <%= listing.title %></h3>
        <p> Description : <%= listing.description %></p>
        <span> Price : <%= listing.price%></span><br><br>
        <span> Location : <%= listing.location %></span><br><br>
        <span> Country : <%= listing.country %></span><br><br>
        <button class="edit">
            <a href="">Edit</a>
        </button>
    </div>
</body>
</html>